@model ODataBookStoreWebClient.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="col-lg-8 border p-3 main-section bg-white">
        <div class="row m-0">
            <div class="col-lg-12">
                <div class="right-side-pro-detail border p-3 m-0">
                    <div class="row">
                         <div class="col-lg-12">
                             <span>@Model.Id</span>
                                <p class="m-0 p-0">@Model.Title</p>
                            </div>   
                         <div class="col-lg-12">
                                <p class="m-0 p-0 price-pro">$@Model.Price</p>
                                <hr class="p-0 m-0">
                            </div>  
                            <div class="col-lg-12">
                                <p class="m-0 p-0">@Model.Location.City</p>
                                <hr class="p-0 m-0">
                            </div>    
                            <div class="col-lg-12">
                                <p class="m-0 p-0">@Model.Location.Street</p>
                                <hr class="p-0 m-0">
                            </div>    
                            @*<div class="col-lg-12">
                                <p class="m-0 p-0">@Model.Press.Name</p>
                                <hr class="p-0 m-0">
                            </div>    
                            <div class="col-lg-12">
                                <p class="m-0 p-0">@Model.Press.Category</p>
                            </div> *@     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>